/*Style code for the entire document*/
* {
	font-family: "Lucida Grande", sans-serif;
	color: #666;
}

/*Content specific styles*/
body {
    font-size: 1em;
    margin: 2.3em 2.2em 0;
}

h1 {
    font-size: 475%;
}

h2 {
    font-size: 275%;
    color: #f07c17;
    margin: 0 0 1em;
}

p {
    font-size: 160%;
    line-height: 200%;
}

/*Style for the two columns below the header*/
.left-column {
    margin: 2.1em 0 0;
}

.right-column {
    margin: 2.1em 0 0;
}

/*Styles the features of the box of listed items in the left column*/
.list-box {
	border: 1px solid #ccc;
    margin: 3em 0 3em;
    padding: 3em 3em 0;	
}

.list-features {
    font-size: 160%;
    line-height: 200%;
    margin: 1.8em 0 0;
    padding: 0 2.5em 2.5em;
}